@import "../../../common/_Variables.scss";

.row {
  .card-header {
    span {
      .ratingstars {
        ul {
          list-style: none;
          li {
            display: inline;
            .reviewcolor {
              color: $text-color;
            }
          }
        }
      }
    }
  }
}
